<header>
    <div class='logo'>Logo with a link to home</div>
    <div>a link to home page</div>
    <button class="saved">Saved Articles</button>
    <button class="scrape">Scrape New Articles</button>
    <button class="clear">Clear Articles</button>
</header>
<h1>{{title}}</h1>
<div id="wrapper">
    <h1>Note Scraper</h1>
    <h2><i>If you can do this...the homework should be no problem.</i></h2>
    <div id="articles">
        {{!-- {{#each entries}}
            <p data-id={{this._id}} class="article">{{this.title}}<br />{{this.link}}</p>
        {{/each}} --}}
    </div>
    <div id="notes"></div>

</div>
<footer>
    this is footer
</footer>