<header>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">News Depot</a>
            </div>
        
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <button class="saved btn btn-default navbar-btn btn-primary">Saved Articles</button>
                <button class="scrape btn btn-default navbar-btn btn-warning">Scrape New Articles</button>
                <button class="clear btn btn-default navbar-btn btn-info">Clear Articles</button>
            </div>
        </div>
    </nav>
</header>
<div class="jumbotron hero">
  <h1>News Depot</h1>
  <h2>Echo JS News for Web Developers</h2>
</div>

<div class="container">
    <div id="articles"></div>
</div>
<footer>
    Echo JS News Depot
</footer>