<header>
    <div class='logo'>Logo with a link to home</div>
    <div>a link to home page</div>
    <button class="scrape">Scrape New Articles</button>
    <button class="clear">Clear Articles</button>
</header>
<h1>Saved Articles</h1>
<div class="container">
    <div id="displaySavedArticles"></div>
</div>
<footer>
    this is footer
</footer>